<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linknabor.crm.mapper.Crm_marketing_regionMapper">
  <resultMap id="BaseResultMap" type="com.linknabor.crm.model.Crm_marketing_region">
    <id column="REGION_ID" jdbcType="BIGINT" property="regionId" />
    <result column="REGION_STATUS" jdbcType="CHAR" property="regionStatus" />
    <result column="REGION_NAME" jdbcType="VARCHAR" property="regionName" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CITY_ID" jdbcType="BIGINT" property="cityId" />
  </resultMap>
  <sql id="Base_Column_List">
    REGION_ID, REGION_STATUS, REGION_NAME, REMARK, CITY_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from crm_marketing_region
    where REGION_ID = #{regionId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from crm_marketing_region
    where REGION_ID = #{regionId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.linknabor.crm.model.Crm_marketing_region">
    insert into crm_marketing_region (REGION_ID, REGION_STATUS, REGION_NAME, 
      REMARK, CITY_ID)
    values (#{regionId,jdbcType=BIGINT}, #{regionStatus,jdbcType=CHAR}, #{regionName,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{cityId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.linknabor.crm.model.Crm_marketing_region">
    insert into crm_marketing_region
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="regionId != null">
        REGION_ID,
      </if>
      <if test="regionStatus != null">
        REGION_STATUS,
      </if>
      <if test="regionName != null">
        REGION_NAME,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="cityId != null">
        CITY_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="regionId != null">
        #{regionId,jdbcType=BIGINT},
      </if>
      <if test="regionStatus != null">
        #{regionStatus,jdbcType=CHAR},
      </if>
      <if test="regionName != null">
        #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.linknabor.crm.model.Crm_marketing_region">
    update crm_marketing_region
    <set>
      <if test="regionStatus != null">
        REGION_STATUS = #{regionStatus,jdbcType=CHAR},
      </if>
      <if test="regionName != null">
        REGION_NAME = #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null">
        CITY_ID = #{cityId,jdbcType=BIGINT},
      </if>
    </set>
    where REGION_ID = #{regionId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linknabor.crm.model.Crm_marketing_region">
    update crm_marketing_region
    set REGION_STATUS = #{regionStatus,jdbcType=CHAR},
      REGION_NAME = #{regionName,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      CITY_ID = #{cityId,jdbcType=BIGINT}
    where REGION_ID = #{regionId,jdbcType=BIGINT}
  </update>
</mapper>