<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linknabor.crm.mapper.Crm_marketing_cityMapper">
  <resultMap id="BaseResultMap" type="com.linknabor.crm.model.Crm_marketing_city">
    <id column="CITY_ID" jdbcType="BIGINT" property="cityId" />
    <result column="CITY_STATUS" jdbcType="CHAR" property="cityStatus" />
    <result column="CITY_NAME" jdbcType="VARCHAR" property="cityName" />
    <result column="CITY_CODE" jdbcType="VARCHAR" property="cityCode" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="PROVINCE_ID" jdbcType="BIGINT" property="provinceId" />
  </resultMap>
  <sql id="Base_Column_List">
    CITY_ID, CITY_STATUS, CITY_NAME, CITY_CODE, REMARK, PROVINCE_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from crm_marketing_city
    where CITY_ID = #{cityId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from crm_marketing_city
    where CITY_ID = #{cityId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.linknabor.crm.model.Crm_marketing_city">
    insert into crm_marketing_city (CITY_ID, CITY_STATUS, CITY_NAME, 
      CITY_CODE, REMARK, PROVINCE_ID
      )
    values (#{cityId,jdbcType=BIGINT}, #{cityStatus,jdbcType=CHAR}, #{cityName,jdbcType=VARCHAR}, 
      #{cityCode,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{provinceId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.linknabor.crm.model.Crm_marketing_city">
    insert into crm_marketing_city
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cityId != null">
        CITY_ID,
      </if>
      <if test="cityStatus != null">
        CITY_STATUS,
      </if>
      <if test="cityName != null">
        CITY_NAME,
      </if>
      <if test="cityCode != null">
        CITY_CODE,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="provinceId != null">
        PROVINCE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cityId != null">
        #{cityId,jdbcType=BIGINT},
      </if>
      <if test="cityStatus != null">
        #{cityStatus,jdbcType=CHAR},
      </if>
      <if test="cityName != null">
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null">
        #{provinceId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.linknabor.crm.model.Crm_marketing_city">
    update crm_marketing_city
    <set>
      <if test="cityStatus != null">
        CITY_STATUS = #{cityStatus,jdbcType=CHAR},
      </if>
      <if test="cityName != null">
        CITY_NAME = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null">
        PROVINCE_ID = #{provinceId,jdbcType=BIGINT},
      </if>
    </set>
    where CITY_ID = #{cityId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linknabor.crm.model.Crm_marketing_city">
    update crm_marketing_city
    set CITY_STATUS = #{cityStatus,jdbcType=CHAR},
      CITY_NAME = #{cityName,jdbcType=VARCHAR},
      CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      PROVINCE_ID = #{provinceId,jdbcType=BIGINT}
    where CITY_ID = #{cityId,jdbcType=BIGINT}
  </update>
</mapper>