<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linknabor.job.mapper.MsaCfgSystemInfoMapper">
  <resultMap id="BaseResultMap" type="com.linknabor.job.model.MsaCfgSystemInfo">
    <id column="APPID" jdbcType="VARCHAR" property="appid" />
    <result column="APPKEY" jdbcType="VARCHAR" property="appkey" />
    <result column="SYSTEM_STATE" jdbcType="CHAR" property="systemState" />
    <result column="SYSTEM_NAME" jdbcType="VARCHAR" property="systemName" />
    <result column="SYSTEM_ADDR" jdbcType="VARCHAR" property="systemAddr" />
    <result column="SYSTEM_CUST_NAME" jdbcType="VARCHAR" property="systemCustName" />
    <result column="SYSTEM_TEL" jdbcType="VARCHAR" property="systemTel" />
  </resultMap>
  <sql id="Base_Column_List">
    APPID, APPKEY, SYSTEM_STATE, SYSTEM_NAME, SYSTEM_ADDR, SYSTEM_CUST_NAME, SYSTEM_TEL
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from msa_cfg_system_info
    where APPID = #{appid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from msa_cfg_system_info
    where APPID = #{appid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.linknabor.job.model.MsaCfgSystemInfo">
    insert into msa_cfg_system_info (APPID, APPKEY, SYSTEM_STATE, 
      SYSTEM_NAME, SYSTEM_ADDR, SYSTEM_CUST_NAME, 
      SYSTEM_TEL)
    values (#{appid,jdbcType=VARCHAR}, #{appkey,jdbcType=VARCHAR}, #{systemState,jdbcType=CHAR}, 
      #{systemName,jdbcType=VARCHAR}, #{systemAddr,jdbcType=VARCHAR}, #{systemCustName,jdbcType=VARCHAR}, 
      #{systemTel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.linknabor.job.model.MsaCfgSystemInfo">
    insert into msa_cfg_system_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="appid != null">
        APPID,
      </if>
      <if test="appkey != null">
        APPKEY,
      </if>
      <if test="systemState != null">
        SYSTEM_STATE,
      </if>
      <if test="systemName != null">
        SYSTEM_NAME,
      </if>
      <if test="systemAddr != null">
        SYSTEM_ADDR,
      </if>
      <if test="systemCustName != null">
        SYSTEM_CUST_NAME,
      </if>
      <if test="systemTel != null">
        SYSTEM_TEL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="appid != null">
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="appkey != null">
        #{appkey,jdbcType=VARCHAR},
      </if>
      <if test="systemState != null">
        #{systemState,jdbcType=CHAR},
      </if>
      <if test="systemName != null">
        #{systemName,jdbcType=VARCHAR},
      </if>
      <if test="systemAddr != null">
        #{systemAddr,jdbcType=VARCHAR},
      </if>
      <if test="systemCustName != null">
        #{systemCustName,jdbcType=VARCHAR},
      </if>
      <if test="systemTel != null">
        #{systemTel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.linknabor.job.model.MsaCfgSystemInfo">
    update msa_cfg_system_info
    <set>
      <if test="appkey != null">
        APPKEY = #{appkey,jdbcType=VARCHAR},
      </if>
      <if test="systemState != null">
        SYSTEM_STATE = #{systemState,jdbcType=CHAR},
      </if>
      <if test="systemName != null">
        SYSTEM_NAME = #{systemName,jdbcType=VARCHAR},
      </if>
      <if test="systemAddr != null">
        SYSTEM_ADDR = #{systemAddr,jdbcType=VARCHAR},
      </if>
      <if test="systemCustName != null">
        SYSTEM_CUST_NAME = #{systemCustName,jdbcType=VARCHAR},
      </if>
      <if test="systemTel != null">
        SYSTEM_TEL = #{systemTel,jdbcType=VARCHAR},
      </if>
    </set>
    where APPID = #{appid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linknabor.job.model.MsaCfgSystemInfo">
    update msa_cfg_system_info
    set APPKEY = #{appkey,jdbcType=VARCHAR},
      SYSTEM_STATE = #{systemState,jdbcType=CHAR},
      SYSTEM_NAME = #{systemName,jdbcType=VARCHAR},
      SYSTEM_ADDR = #{systemAddr,jdbcType=VARCHAR},
      SYSTEM_CUST_NAME = #{systemCustName,jdbcType=VARCHAR},
      SYSTEM_TEL = #{systemTel,jdbcType=VARCHAR}
    where APPID = #{appid,jdbcType=VARCHAR}
  </update>
</mapper>